In [1]:
# Import the dependencies!
import pandas as pd
import gmaps
import requests
# import API key
from config import gkey

In [2]:
# Store the csv previously saved into a dataframe here
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mafinga,TZ,2021-04-24 00:17:11,-7.2500,35.0667,63.21,79,28,4.05
1,1,Mataura,NZ,2021-04-24 00:17:11,-46.1927,168.8643,55.00,81,76,3.00
2,2,Mar Del Plata,AR,2021-04-24 00:15:30,-38.0023,-57.5575,69.01,88,75,6.91
3,3,Hermanus,ZA,2021-04-24 00:16:27,-34.4187,19.2345,55.00,90,85,1.01
4,4,Norman Wells,CA,2021-04-24 00:17:12,65.2820,-126.8329,33.80,37,75,14.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use Google API key
gmaps.configure(api_key=gkey)

In [5]:
# Get max temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. with a center
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add their ideal temperature range
min_temp = float(input("what is the minimum temperature you would like for your trip? "))
max_temp = float(input("what is the maximum temperature you would like for your trip? "))

what is the minimum temperature you would like for your trip? 75
what is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the right cities
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Atuona,PF,2021-04-24 00:17:15,-9.8000,-139.0333,80.31,79,35,23.73
16,16,Saint-Philippe,RE,2021-04-24 00:17:15,-21.3585,55.7679,77.00,83,90,19.57
17,17,Arlit,NE,2021-04-24 00:17:15,18.7369,7.3853,83.64,7,75,6.04
18,18,Cockburn Town,TC,2021-04-24 00:17:06,21.4612,-71.1419,78.80,73,40,11.50
25,25,Puerto Ayora,EC,2021-04-24 00:17:18,-0.7393,-90.3518,77.00,95,43,5.01
27,27,Rikitea,PF,2021-04-24 00:13:51,-23.1203,-134.9692,79.09,69,100,18.16
29,29,Dawei,MM,2021-04-24 00:17:19,14.0833,98.2000,79.63,86,99,1.14
30,30,Buraydah,SA,2021-04-24 00:17:19,26.3260,43.9750,77.00,20,0,8.05
31,31,Atar,MR,2021-04-24 00:17:20,20.5169,-13.0499,79.68,13,0,5.53
33,33,Bentiu,SS,2021-04-24 00:17:20,9.2333,29.8333,84.45,45,10,4.59

In [12]:
# Check for nulls
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [13]:
# Create DataFrame to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
14          Atuona      PF     80.31  -9.8000 -139.0333
16  Saint-Philippe      RE     77.00 -21.3585   55.7679
17           Arlit      NE     83.64  18.7369    7.3853
18   Cockburn Town      TC     78.80  21.4612  -71.1419
25    Puerto Ayora      EC     77.00  -0.7393  -90.3518
27         Rikitea      PF     79.09 -23.1203 -134.9692
29           Dawei      MM     79.63  14.0833   98.2000
30        Buraydah      SA     77.00  26.3260   43.9750
31            Atar      MR     79.68  20.5169  -13.0499
33          Bentiu      SS     84.45   9.2333   29.8333

In [18]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   # Grab the first hotel from the results and store the name.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Villa Enata
Chambres d'hôte "La Trinité"
Case de Passage De la Prefecture
Osprey Beach Hotel
Finch Bay Galapagos Hotel
Pension Maro'i
Hotel Dawei
فندق راحة السلام
Oumou Elghoura
Mandela hôtel
Isles Sunset Lodge
Casa Dora, Bubaque
Shandrani Beachcomber Resort & Spa
SEGAYA PROPERTY
Roma Zee Guest House Annex
Sheraton Kauai Resort at Coconut Beach
Balneario Vista Bella
Nusa Island Retreat
Seri Simanggang Hotel
Cititel Penang
Al Madina Hotal
Haji laloo memon house
Raj's villa
LE SAMANA
AXIM BEACH RESORT AND SPA
Pousada Beija Flor
Hôtel Le Lagon
ibis Styles Mt Isa Verona
Hotel not found... skipping.
TDC Village (Hundred Man Camp)
Paradise Inn
Marriott's Ko Olina Beach Club
Veranda Paul et Virginie Hotel & Spa
Hotel Atoll Emerald Miyakojima
Hotel Tesoro Los Cabos
Salinas Park Resort Maçarico AP101
Hotel Durvankur
Bora-Bora Pearl Beach Resort & Spa
Hilo Hawaiian Hotel
Scoop Guest House
Hotel Chik Chik Namibe
LIKWALE LODGE
Moon light Furnished Units
Hotel Posada San Jose
ที่ทำการผู้ ใหญ่บ้าน หมู่ที่ 1
Hotel not found... skipping.
Infinity Motel
Haajy Guest House 1
Fakhamat Al Orjoana Apartment
"Plantation Bed and Breakfast
Sur Plaza Hotel
Best Western Plus Abbey Inn
residency of N.B vadhel
El rranchito michuacan de ocampos
Grand Vilia Hotel
Ujamaa Beach Resort
Hotels in Lakshadweep Islands
Casarão
Ballistic Islet
"JJ 4 NEST"
Le Berceau
Bonthe Holiday Village
Casa Morey Hotel & Restaurant
MH Hotel Yong Peng
Hotel maa majhigouri
Khách Sạn Mường Thanh Luxury Cà Mau
Holiday Inn Express & Suites Elk Grove Central - Hwy 99
ApartHotel Villa Esmeralda
Savannah Inn
HAMDAN PLAZA HOTEL SALALAH
Hotel not found... skipping.
Hotel La dorada
Hôtel Hobbe Chasse
Maui Seaside Hotel
Qeshm Kavan Hotel
Pastori 1 Jemaat Polycarpus
janelas do mar
Foundation Taaj Asala for Historical Research and Archeology
PATHFINDER
Villa Orphee
Gîte kajeon
Casa de Campo
Hôtel Le Dronmi
Weligama Bay Resort
Pousada Rua Camurupim
Hotel not found... skipping.
HASSANI Mikidachi
Hotel Praia Morena
Kost Pria
cosoble spare parts
Hotel Albergue de Olinda
Tour Eiffel Hotel Benin
Shanti Maurice Resort & Spa
Balaji tifen & meals veg & non veg hotel
U Poe Sann
Hotel not found... skipping.
Hotel Plaza Providencia
ZINGARA 76ft Catamaran, full crew-all included
Quality Suites Vila Velha
బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్
RedDoorz Syariah near Taman Berlabuh Tarakan
hotêl doufoulougou
Posada Villaven C.A.
Poutur Pousada
Mini Hotel Central
Lumphat Homestay
Hampton Inn & Suites Houston/League City
Foyer ADM
Cossam Guest House
7 Makara Hotel
Veranda Palmar Beach Hotel
Ambunti Lodge
Crôa Mares Hotel
Posada Turistica Manapiare
Hotel Kou-Bugny
Fengshui Residence
Grand Dafam Bela Ternate
Nhà Hàng Hòa Giang
Hotel Kununurra
Motel 6 Sinton, TX
Amiin Hotel
Tabag's Place
Halane Hotel and Restaurent
Whispering Bamboo Cove Resort
Hotel Nusantara Nabire
Residences Celine Hotel Ketou
Sterling Palavelli Godavari
Camp Pālehua
Hotel e Churrascaria Pantaneira
Hotel not found... skipping.
Hotel Juba
Hotel Perichi's
Sea Lounge! Bar, Club & Restaurant
CenDeluxe Hotel Tuy Hoa
Auberge du Routard
Atlantis Hotel
Hotel not found... skipping.
Hotel Citra
Aston Pontianak Hotel & Convention Center
Rahi Hotel
JM Lodge

In [22]:
info_box_template = """"
<dl>
<dt>HotelName</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
""""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

SyntaxError: EOL while scanning string literal (<ipython-input-22-fd51da1686ce>, line 8)

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Atuona,PF,80.31,-9.8000,-139.0333,Villa Enata
16,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
17,Arlit,NE,83.64,18.7369,7.3853,Case de Passage De la Prefecture
18,Cockburn Town,TC,78.80,21.4612,-71.1419,Osprey Beach Hotel
25,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Rikitea,PF,79.09,-23.1203,-134.9692,Pension Maro'i
29,Dawei,MM,79.63,14.0833,98.2000,Hotel Dawei
30,Buraydah,SA,77.00,26.3260,43.9750,فندق راحة السلام
31,Atar,MR,79.68,20.5169,-13.0499,Oumou Elghoura
33,Bentiu,SS,84.45,9.2333,29.8333,Mandela hôtel